@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular.ttf)
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Open Sans;
}

a {
    text-decoration: none;
    color: #222;
}

.heading {
    width: 100%;
    height: 50px;
    background-color: #417690;
    color: white;
    font-weight: bold;
    letter-spacing: 0.9px;
    display: flex;
    padding: 0 50px;
    align-items: center;
}

.heading a {
    color: white;
}

.heading span {
    margin: auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 70%;
}

.list-element {
    height: 35px;
    padding: 12px 5px;
}

.list-element a:hover {
    color: #417690;
    transition: 0.2s ease;
}

.container {
    width: 600px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.info {
    background-color: #417690;
    color: white;
    height: 40px;
    padding: 10px;
}
